# Bubble Plot

is a type of scatter chart which displays more than three dimension of data
it provides us with the size dimension, color dimension, bubble dimension etc. for deep analysis

In [7]:
import pandas as pd
import plotly.express as px
import plotly.offline as py
import warnings
from bubbly.bubbly import bubbleplot

In [6]:
data= px.data.gapminder()
data.head()

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4

In [8]:
warnings.filterwarnings('ignore')

In [ ]:
figure= bubbleplot(dataset= data,
                   y_column ="gdpPercap",
                   x_column="lifeExp",
                   bubble_column="continent",
                   time_column="year",
                   color_column="continent",
                   size_column="pop",
                   title="Life Expectancy Vs GDP",
                   y_logscale = True,
                   scale_bubble=5,
                   height=650)
py.iplot(figure, config={
    'scrollzoom': True
})